* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #6D98BA;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#title > h1 {
    background: linear-gradient(90deg, #E07A5F, #3D405B, #81B29A);
    text-align: center;
    font-size: 6rem;
    color: #F4F1DE;
}

nav {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
    margin: 10px 10px;
}

nav li a {
    text-decoration: none;
    color: #F4F1DE;
    font-size: 2rem;
}

#content {
    background: linear-gradient(45deg, #E07A5F, #81B29A);
    padding: 20px;
    text-align: center;
    border: 5px solid #3D405B;
    border-radius: 15px;
    margin: 10px;
    font-size: 1rem;
}
#content h2 {
    color: #F4F1DE;
}
#content p {
    color: #3D405B;
}
#content a {
    color: #3D405B;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.db_attributes {
    flex: 1;
    max-width: 45%;
    background: linear-gradient(90deg, #81B29A, #E07A5F );
}
.horizontal {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#db_ideas {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
#db_ideas ul {
    list-style: none;
    padding: 10px;
    border: 2px solid #3D405B;
    border-radius: 10px;
    margin: 10px;
}

#db_ideas li {
    color: #3D405B;
    margin-bottom: 5px;
}

#db_ideas h3 {
    color: #F4F1DE;
}

#db_ideas li {
    color: #3D405B;
}
#bottom-content p {
    background: linear-gradient(90deg, #81B29A, #E07A5F );
    font-size: 18px;
}
#content img {
    width: 30%; 
    height: 30%; 
    border-radius: 10px; 
    margin: 5px;
}
#footer {
    background: linear-gradient(90deg, #E07A5F, #3D405B, #81B29A);
    text-align: center;
    font-size: 2rem;
}

#footer > p {
    background: linear-gradient(90deg, #E07A5F, #3D405B, #81B29A);
    color: #F4F1DE;
}
